{% extends "base.html" %}
{% load static %}
{% block content %}
    <div class="search_nav">
        {% if not request.user.is_authenticated %}
        <form action="/login/" method="get" class="pure-form">
            <fieldset>
                <label>管理员登录</label>
                <input type="text" name="username" placeholder="用户名" style="color:black">
                <input type="password" name="password" placeholder="密码" style="color:black">
                <button type="submit" class="pure-button pure-button-primary">登录</button>
            </fieldset>
        </form>
        {% else %}
        <form action="/logout/" method="get" class="pure-form">
            <fieldset>
                <label>管理员登录</label>
                <button type="submit" class="pure-button pure-button-primary">退出登录</button>
            </fieldset>
        </form>
        {% endif %}
        <form action="/search/" method="get" class="pure-form" target="_blank">
            <fieldset>
                <label>搜索相关的新闻</label>
                <input type="text" name="search_text" placeholder="请输入搜索文本" style="color:black">
                <button type="submit" class="pure-button pure-button-primary">开始搜索</button>
            </fieldset>
        </form>
    </div>
    <div class="posts">
        {% for post in post_list %}
            <div class="post-container">
                <section class="post">
                    <header class="post-header">
                        <h4 class="post-title"><a target="_blank" href="{% url 'show_content' id=post.id %}"
                                                  style="text-decoration: none">{{ post.title }}</a></h4>
                        <p class="post-meta">
                            <i class="fa fa-calendar" aria-hidden="true"></i>&nbsp;发布时间:{{ post.publish_time }}&nbsp;&nbsp;
                            <i class="fa fa-eye" aria-hidden="true"></i>&nbsp;{{ post.views }}次浏览&nbsp;&nbsp;
                            {% if request.user.is_authenticated %}
                                {% if post.status == 'y' %}
                                <form action="/delete/" method="get" class="pure-form">
                                    <fieldset>
                                        <button name='del_id' value="{{post.id}}" style='background-color:red;color:white' class="pure-button pure-button-primary">删除此条新闻</button>
                                    </fieldset>
                                </form>
                                {% else %}
                                <form action="/revive/" method="get" class="pure-form">
                                    <fieldset>
                                        <button name='revive_id' value="{{post.id}}" style='background-color:green;color:white' class="pure-button pure-button-primary">恢复此条新闻</button>
                                    </fieldset>
                                </form>
                                {% endif %}
                            {% endif %}
                        </p>
                    </header>
                </section>
            </div>
        {% endfor %}
    </div><!-- /.blog-post -->
    {% if post_list.object_list and post_list.paginator.num_pages > 1 %}
        <div>
            {% if post_list.has_previous %}
                <a class="footer" href="?page={{ post_list.previous_page_number }}"
                   style="text-decoration: none; float: left; padding-left: 1%">
                    <i class="fa fa-angle-left"></i>&nbsp;&nbsp;上一页
                </a>
            {% endif %}
            {% if post_list.has_next %}
                <a class="footer" href="?page={{ post_list.next_page_number }}"
                   style="text-decoration: none; float: right; padding-right: 1%">
                    下一页&nbsp;&nbsp;<i class="fa fa-angle-right"></i>
                </a>
            {% endif %}
        </div>
    {% endif %}
{% endblock %}   